.elementor-52658 .elementor-element.elementor-element-4d68e353:not(.elementor-motion-effects-element-type-background),
.elementor-52658 .elementor-element.elementor-element-4d68e353>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url(../images/footer-bgr.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover
}

.elementor-52658 .elementor-element.elementor-element-4d68e353 {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 141px 15px 0
}

.elementor-52658 .elementor-element.elementor-element-4d68e353>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-52658 .elementor-element.elementor-element-6eed5247>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-6eed5247>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-3094fc09 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-f358965>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-f358965>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 90px 0 0
}

.elementor-52658 .elementor-element.elementor-element-291de788>.elementor-widget-container {
  margin: 0;
  padding: 6px 0 24px
}

.elementor-52658 .elementor-element.elementor-element-f7cbf4a {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-f7cbf4a>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-7fec4f0.elementor-social-icon {
  background-color: #3b5999
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-7fec4f0.elementor-social-icon i {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-7fec4f0.elementor-social-icon svg {
  fill: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-cc70354.elementor-social-icon {
  background-color: #1da1f3
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-4675fde.elementor-social-icon {
  background-color: #0077b4
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-315e257.elementor-social-icon {
  background-color: #cb2028
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-315e257.elementor-social-icon i {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-repeater-item-315e257.elementor-social-icon svg {
  fill: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 14px;
  --grid-column-gap: 6px;
  --grid-row-gap: 0px
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-widget-container {
  text-align: left
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-social-icon {
  background-color: transparent;
  --icon-padding: 0.7em
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-social-icon i {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a .elementor-social-icon svg {
  fill: #fff
}

.elementor-52658 .elementor-element.elementor-element-7c2bb26a>.elementor-widget-container {
  margin: 0;
  padding: 37px 0 0
}

.elementor-52658 .elementor-element.elementor-element-21f17f5b {
  text-align: center;
  top: 246px
}

.elementor-52658 .elementor-element.elementor-element-21f17f5b>.elementor-widget-container {
  padding: 0
}

body:not(.rtl) .elementor-52658 .elementor-element.elementor-element-21f17f5b {
  left: -923px
}

body.rtl .elementor-52658 .elementor-element.elementor-element-21f17f5b {
  right: -923px
}

.elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 15px 0 30px
}

.elementor-52658 .elementor-element.elementor-element-490c1a1b .elementor-heading-title {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-490c1a1b>.elementor-widget-container {
  margin: 0;
  padding: 10px 0 32px
}

.elementor-52658 .elementor-element.elementor-element-21ecb321 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-21ecb321 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-21ecb321>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-7304510e {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-7304510e .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-7304510e>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-32f69ae1 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-32f69ae1 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-32f69ae1>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-b80590a {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-b80590a .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-b80590a>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-51d69c28 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-51d69c28 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-51d69c28>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-6fbd23a2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-6fbd23a2>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0
}

.elementor-52658 .elementor-element.elementor-element-6bd32d68 .elementor-heading-title {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-6bd32d68>.elementor-widget-container {
  margin: 0;
  padding: 10px 0 32px
}

.elementor-52658 .elementor-element.elementor-element-6b03fdfa {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-6b03fdfa .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-6b03fdfa>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-2071c4d3 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-2071c4d3 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-2071c4d3>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-1d917b31 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-1d917b31 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-1d917b31>.elementor-widget-container {
  margin: 0;
  padding: 0 0 9px
}

.elementor-52658 .elementor-element.elementor-element-4d31afe9 {
  --e-icon-list-icon-size: 14px
}

.elementor-52658 .elementor-element.elementor-element-4d31afe9 .elementor-icon-list-text {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-4d31afe9>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-5c75e0e4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-5c75e0e4>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 30px 0 15px
}

.elementor-52658 .elementor-element.elementor-element-5d865d18 .elementor-heading-title {
  color: #fff
}

.elementor-52658 .elementor-element.elementor-element-5d865d18>.elementor-widget-container {
  margin: 0;
  padding: 10px 0 32px
}

.elementor-52658 .elementor-element.elementor-element-5a5889fc .elementor-heading-title {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-5a5889fc>.elementor-widget-container {
  margin: 0;
  padding: 0 0 10px
}

.elementor-52658 .elementor-element.elementor-element-7b9917e8 .elementor-heading-title {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-7b9917e8>.elementor-widget-container {
  margin: 0;
  padding: 0 0 10px
}

.elementor-52658 .elementor-element.elementor-element-74e85087 .elementor-heading-title {
  color: #cecece
}

.elementor-52658 .elementor-element.elementor-element-74e85087>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-52658 .elementor-element.elementor-element-5a30254c {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #515dbb;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 23px 0
}

.elementor-52658 .elementor-element.elementor-element-5a30254c,
.elementor-52658 .elementor-element.elementor-element-5a30254c>.elementor-background-overlay {
  border-radius: 0 0 0 0
}

.elementor-52658 .elementor-element.elementor-element-5a30254c>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-52658 .elementor-element.elementor-element-764ecb47>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-52658 .elementor-element.elementor-element-764ecb47>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 15px
}

.elementor-52658 .elementor-element.elementor-element-481cca2f {
  text-align: center
}

.elementor-52658 .elementor-element.elementor-element-481cca2f .elementor-heading-title {
  color: #cecece;
  font-size: 14px;
  line-height: 26px
}

.elementor-52658 .elementor-element.elementor-element-481cca2f>.elementor-widget-container {
  margin: 0;
  padding: 0
}

@media(max-width:1024px) {

  .elementor-52658 .elementor-element.elementor-element-4d68e353:not(.elementor-motion-effects-element-type-background),
  .elementor-52658 .elementor-element.elementor-element-4d68e353>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center;
    background-size: cover
  }

  .elementor-52658 .elementor-element.elementor-element-4d68e353 {
    padding: 150px 15px 0
  }

  .elementor-52658 .elementor-element.elementor-element-3094fc09 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
  }

  .elementor-52658 .elementor-element.elementor-element-f358965>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-f358965>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 30px
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-52658 .elementor-element.elementor-element-6bd32d68 .elementor-heading-title {
    font-size: 17px
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-52658 .elementor-element.elementor-element-5d865d18 .elementor-heading-title {
    font-size: 17px
  }

  .elementor-52658 .elementor-element.elementor-element-5a30254c {
    margin-top: 0;
    margin-bottom: 0
  }
}

@media(max-width:767px) {
  .elementor-52658 .elementor-element.elementor-element-4d68e353 {
    margin-top: 0;
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-3094fc09 {
    padding: 0 15px
  }

  .elementor-52658 .elementor-element.elementor-element-f358965 {
    width: 100%
  }

  .elementor-52658 .elementor-element.elementor-element-f358965>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-f358965>.elementor-element-populated {
    padding: 0 0 30px
  }

  body:not(.rtl) .elementor-52658 .elementor-element.elementor-element-21f17f5b {
    left: -21px
  }

  body.rtl .elementor-52658 .elementor-element.elementor-element-21f17f5b {
    right: -21px
  }

  .elementor-52658 .elementor-element.elementor-element-21f17f5b {
    top: 183px
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b {
    display: none;
    width: 100%
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b>.elementor-element-populated {
    padding: 0 0 30px
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2 {
    display: none;
    width: 100%
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2>.elementor-element-populated {
    padding: 0 0 30px
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4 {
    width: 100%
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4>.elementor-element-populated {
    padding: 0 0 30px
  }

  .elementor-52658 .elementor-element.elementor-element-5a30254c {
    margin-top: 0;
    margin-bottom: 0
  }
}

@media(min-width:768px) {
  .elementor-52658 .elementor-element.elementor-element-f358965 {
    width: 35%
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b {
    width: 20%
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2 {
    width: 10%
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4 {
    width: 24%
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-52658 .elementor-element.elementor-element-f358965 {
    width: 100%
  }

  .elementor-52658 .elementor-element.elementor-element-22a8047b {
    width: 33%
  }

  .elementor-52658 .elementor-element.elementor-element-6fbd23a2 {
    width: 33%
  }

  .elementor-52658 .elementor-element.elementor-element-5c75e0e4 {
    width: 34%
  }
}