.elementor-1598 .elementor-element.elementor-element-d925982:not(.elementor-motion-effects-element-type-background),
.elementor-1598 .elementor-element.elementor-element-d925982>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #fff
}

.elementor-1598 .elementor-element.elementor-element-d925982 {
  box-shadow: 8px 3px 30px 5px rgba(0, 0, 0, .08);
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-1598 .elementor-element.elementor-element-d925982>.elementor-background-overlay {
  transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-element-populated {
  padding: 0
}

.elementor-1598 .elementor-element.elementor-element-7c5ebfb {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0
}

.elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-element-populated {
  padding: 13px 0 0
}

.elementor-1598 .elementor-element.elementor-element-1fac102>.elementor-widget-container {
  margin: 0;
  padding: 0
}

.elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0
}

.elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-element-populated {
  padding: 22px 0
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul {
  text-align: left
}

.header-sticky.sticky-active #rt-mainMenu nav>ul {
  text-align: left !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 ul.rt-tree a,
.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
  color: #000
}

.header-sticky.sticky-active #rt-mainMenu nav>ul>li>a {
  color: #000 !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a,
.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li.mega-menu-item .mega-menu-content ul.menu li a {
  color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
.header-sticky.sticky-active #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a {
  color: #000 !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
.header-sticky.sticky-active #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a:hover {
  color: #013ca3 !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li ul li a,
.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a {
  color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li ul li a,
.header-sticky.sticky-active #rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a {
  color: #000 !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-menu {
  background-color: #fff !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li.mega-menu-item .mega-menu-content h5 {
  font-size: 18px;
  color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-icon-search {
  color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-search-input {
  border-bottom: 1px solid #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .search-btn2 {
  color: #000
}

header.rt-submenu-light.header-sticky.sticky-active .rt-header-inner {
  background-color: #fff
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .elementor-nav-menu .menu-item a {
  color: #fff
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a:hover {
  color: #013ca3 !important
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .elementor-nav-menu .sub-menu .menu-item a {
  color: #3d3c37
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a:hover,
#rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a:hover {
  color: #013ca3
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .elementor-menu-toggle {
  background-color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-dark #header .rt-header-inner .lines,
.rt-dark #header .rt-header-inner .lines:before,
.rt-dark #header .rt-header-inner .lines:after,
.rt-dark #header #header-wrap .lines,
.rt-dark #header #header-wrap .lines:before,
.rt-dark #header #header-wrap .lines:after,
#header.rt-dark .rt-header-inner .lines,
#header.rt-dark .rt-header-inner .lines:before,
#header.rt-dark .rt-header-inner .lines:after,
#header.rt-dark #header-wrap .lines,
#header.rt-dark #header-wrap .lines:before,
#header.rt-dark #header-wrap .lines:after {
  background-color: #000
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
  font-size: 16px;
  font-weight: 500
}

.elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>ul>li>a,
#rt-mainMenu nav>ul>li>ul>li>ul>li>a,
#rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li>a,
#rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li a,
#rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li>ul>li>a,
#rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px
}

.elementor-1598 .elementor-element.elementor-element-f22ac29>.elementor-widget-container {
  margin: 0;
  padding: 0
}

@media(max-width:1024px) {
  .elementor-1598 .elementor-element.elementor-element-d925982 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 12px
  }

  .elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-element-populated {
    padding: 0 15px
  }

  .elementor-1598 .elementor-element.elementor-element-7c5ebfb {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-1fac102>.elementor-widget-container {
    margin: 0;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 ul.rt-tree a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
    color: #000
  }

  .header-sticky.sticky-active #rt-mainMenu nav>ul>li>a {
    color: #000 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li.mega-menu-item .mega-menu-content ul.menu li a {
    color: #000
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
  .header-sticky.sticky-active #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a {
    color: #000 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
  .header-sticky.sticky-active #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a:hover {
    color: #000 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .elementor-nav-menu .menu-item a {
    color: #fff
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a:hover {
    color: #013ca3 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
    font-size: 16px
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li>ul>li>a,
  #rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a {
    font-size: 15px;
    line-height: 27px
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29>.elementor-widget-container {
    margin: 0;
    padding: 10px 0 0
  }
}

@media(max-width:767px) {
  .elementor-1598 .elementor-element.elementor-element-d925982 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0 20px
  }

  .elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-7bcadca>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 15px
  }

  .elementor-1598 .elementor-element.elementor-element-7c5ebfb {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-74bd64e>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 ul.rt-tree a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
    color: #333
  }

  .header-sticky.sticky-active #rt-mainMenu nav>ul>li>a {
    color: #333 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .rt-mobile-menu ul.rt-tree ul li a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li .rt-dropdown-menu>li>a,
  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li.mega-menu-item .mega-menu-content ul.menu li a {
    color: #333
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 .elementor-nav-menu .menu-item a {
    color: #fff
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a:hover {
    color: #013ca3 !important
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>a {
    font-size: 16px
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29 #rt-mainMenu nav>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li>a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li a,
  #rt-mainMenu nav>ul>li>ul>li>ul>li>ul>li ul li>ul>li>a,
  #rt-mainMenu nav>ul>li .rt-dropdown-submenu>ul.rt-dropdown-menu>li a {
    font-size: 15px;
    line-height: 27px
  }

  .elementor-1598 .elementor-element.elementor-element-f22ac29>.elementor-widget-container {
    margin: 0;
    padding: 0
  }
}

@media(min-width:768px) {
  .elementor-1598 .elementor-element.elementor-element-74bd64e {
    width: 32%
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99 {
    width: 68%
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-1598 .elementor-element.elementor-element-74bd64e {
    width: 100%
  }

  .elementor-1598 .elementor-element.elementor-element-a74fd99 {
    width: 100%
  }
}